body {
  width: 100vw;
  margin: 0;
  background-color: rgb(41, 46, 46);
  color: white;
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}
/*--------------------------choix du joueur*/
#contentJeu {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
#choixDisplay {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  padding-top: 50%;
}
#choixDisplay p {
  margin-left: 6px;
  font-size: 40px;
  color: black;
}

.choixJoueur {
  margin-left: 20px;
}
#choixDisplay button {
  font-family: "Edu VIC WA NT Beginner", cursive;
  text-transform: uppercase;
  margin-left: 10px;
  width: 100px;
  height: 50px;
}
/*-------------------------------------------------------INFOS JOUEUR*/
#persoContainer {
  width: 100vw;
}

.name p {
  font-size: 22px;
}

.header--button--button {
  font-family: "Edu VIC WA NT Beginner", cursive;
  text-transform: uppercase;
  width: 33vw;
  height: 40px;
}
#modifContainer {
  display: none;
}

#showDescription {
  display: none;
  background-color: rgb(110, 68, 68);
}
#showInventaire {
  display: none;
  background-color: rgb(110, 68, 68);
}

.infoHeader {
  align-items: center;
  background-color: rgb(180, 149, 109);
  height: 40px;
}
.infoHeaderDown {
  align-items: center;
  background-color: burlywood;
  height: 40px;
}
.cara--title {
  background-color: rgb(12, 73, 12);
  cursor: pointer;
}
.caracteristique {
  display: none;
  justify-content: space-around;
  background-color: rgb(15, 87, 15);
}
.PC {
  background-color: rgb(89, 17, 156);
  cursor: pointer;
}
.folie--choc--container {
  display: none;
  background-color: rgb(102, 19, 181);
}

.attaque--container {
  display: none;
  background-color: brown;
}
.attaque--title {
  cursor: pointer;
  background-color: rgb(141, 35, 35);
}
.defence {
  background-color: rgb(69, 81, 206);
}

.capacite--title {
  padding-top: 15px;
  text-align: center;
  align-items: center;
  background-color: rgb(154, 70, 34);
  height: 40px;
}
.capacite--container {
  background-color: rgb(177, 79, 37);
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexAround {
  display: flex;
  justify-content: space-around;
}
